[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	editor = vim
[user]
	name = Ryo Matsumoto
	email = ryo.mats302@gmail.com
[color]
	ui = true
[alias]
	co = checkout
	cob = checkout -b
    bd = branch -D 
    bm = branch -m
	a = add .
	cm = commit -m 
    s = status
	ss = diff --stat HEAD
    b = branch
    cp = cherry-pick
    l = log --oneline
    squash = rebase -i HEAD^^
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
