[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = Ryo Matsumoto
	email = ryo.mats302@gmail.com
[color]
	ui = true
[alias]
	co = checkout
	a = add .
	cm = commit -m 
    s = status
    b = branch
    cp = cherry-pick
    l = log --oneline
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
